
@{
    ViewData["Title"] = "OtherError";
}

<header class="masthead bg-primary text-white text-center">

    <div class="container d-flex align-items-center flex-column bg-primary text-white text-center">

        <h1 class="display-1"><strong>NO!</strong></h1>

    </div>
</header>

<div class="text-center container my-5">
    <div class="my-5 text-center">
        <h2>The 'Other' category cannot be deleted!</h2>
    </div>
    <div>
        <a class="btn btn-primary" asp-controller="Category" asp-action="Index">Return to Categories</a>
    </div>
</div>
