@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Create";
}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="card col-md-4">
            <h3 class="mt-3 text-primary text-center card-title">Create New Profile</h3>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisplayName" class="control-label"></label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    @if (ViewBag.DuplicateEmail == true)
                    {
                        <p class="text-danger">This Email already exists.</p>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="ImageLocation" class="control-label"></label>
                    <input asp-for="ImageLocation" class="form-control" />
                    <span asp-validation-for="ImageLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="FullName" type="hidden" class="form-control" />
                    <input asp-for="CreateDateTime" type="hidden" class="form-control" />
                    <input asp-for="UserTypeId" type="hidden" class="form-control" />
                    <input asp-for="Id" type="hidden" class="form-control" />
                    <input class="form-check-input" type="hidden" asp-for="Deactivated" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">cancel</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
